@import "./include-media.scss";

/* Reset */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Styles */

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-family: sans-serif;

  a {
    text-decoration: none;
  }
}

.container {
  width: 100%;
  padding: 0 15px;

  @include media('>=tablet') {
    width: 680px;
    padding: 0;
    margin: 0 auto;
  }
}

.main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  .main {
    flex: 1;

    > *:last-child {
      margin-bottom: 0;
    }

    p {
      margin-top: 1em;
      margin-bottom: 1em;
    }

    h2 {
      margin-top: 0.83em;
      margin-bottom: 0.83em;
    }

    h3 {
      margin-top: 1em;
      margin-bottom: 1em;
    }

    h4 {
      margin-top: 1.33em;
      margin-bottom: 1.33em;
    }

    h5 {
      margin-top: 1.67em;
      margin-bottom: 1.67em;
    }

    h6 {
      margin-top: 2.33em;
      margin-bottom: 2.33em;
    }

    h1.page-title {
      font-size: 2rem;
      margin-bottom: 0.67em;
    }

    img.full {
      width: 100%;
      height: auto;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    .series-message {
      margin-top: 1em;
      margin-bottom: 1em;

      > div {
        display: inline-block;
        padding: 1em;
        background: lightyellow;
      }

      h2 {
        font-size: 1em;
        margin-top: 0;
      }
    }

    ul.bulleted {
      list-style: disc inside;
    }

    .post-info {
      margin-top: 0;
      margin-bottom: 1em;
    }

    .post-listings {
      > div {
        margin-top: 1em;
        margin-bottom: 1em;

        &:last-of-type {
          margin-bottom: 0;
        }

        > div {
          &:first-child {
            a {
              font-size: 1.33em;
            }
          }
        }

        .post-info {
          margin-top: 2px;
          margin-bottom: 0;
        }
      }
    }
  }
}

.tag {
  background: lightyellow;

  &.active {
    background: yellow;
  }
}

.header {
  margin: 0.67rem 0 1.67rem;

  @include media('>=tablet') {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .right {
    text-align: right;

    @include media('<tablet') {
      text-align: left;
    }
  }

  .site-title {
    font-size: 1.67em;
  }

  .nav {
    margin-top: 0.33rem;

    @include media('>=tablet') {
      margin-top: 0;
    }

    a {
      display: inline-block;
      margin-right: 0.5em;
      font-size: 1.25em;

      &:last-of-type {
        margin-right: 0;
      }

      &.active {
        background: cyan;
      }
    }
  }

  .secondary-nav {
    margin-top: 0.33rem;

    a {
      display: inline-block;
      margin-right: 0.5em;
      font-size: 0.8em;

      &:last-of-type {
        margin-right: 0;
      }

    }
  }
}

.footer {
  margin: 1.67rem 0 0.67rem;
}


button {
  border: 1px outset rgb(221, 221, 221);
  cursor: pointer;

  &.active {
    border-color: cyan;
    background-color: cyan;
  }
}
